<div class="container px-4 py-5">
	<h2 class="pb-2 border-bottom" ng-if="!notiSeq">공지사항 등록</h2>
	<h2 class="pb-2 border-bottom" ng-if="notiSeq">공지사항 수정</h2>
	
	<div class="pt-4">
		<table class="table table-bordered">
			<colgroup>
				<col width="20%">
				<col width="*">
			</colgroup>
			<tbody class="noti-table">
				<tr>
					<th>제목</th>
					<td>
						<input type="text" class="form-control" id="title" ng-model="title">
					</td>
				</tr>
				<tr> 
					<th>사용자</th>
					<td ng-if="!notiSeq">{{userInfo.username}}</td>
					<td ng-if="notiSeq">{{creatId}}</td>
				</tr>
				<tr>
					<th>내용</th>
					<td>
						<textarea class="form-control" name="content" id="content" rows="15" ng-model="content"></textarea>
					</td>
				</tr>
			</tbody>
		</table>	
		<div class="layer-right">
			<button type="button" class="btn btn-success" ng-if="!notiSeq" ng-click="insert()">등록</button>
			<button type="button" class="btn btn-success" ng-if="notiSeq" ng-click="regist()">수정</button>
			<button type="button" class="btn btn-outline-dark" ng-click="back()">돌아가기</button>
		</div>
	</div>
	

</div>


