<div class="container px-4 py-5">
	<h2 class="pb-2 border-bottom">공지사항 상세</h2>
	
	<div class="pt-4">
	
		<table class="table table-bordered">
			<colgroup>
				<col width="20%">
				<col width="*">
			</colgroup>
			<tbody class="noti-table">
				<tr>
					<th>제목</th>
					<td>{{detail.title}}</td>
				</tr>
				<tr> 
					<th>사용자</th>
					<td>{{detail.creatId}}</td>
				</tr>
				<tr> 
					<th>조회수</th>
					<td>{{detail.count}}</td>
				</tr>
				<tr>
					<th>내용</th>
					<td style="height:20rem;" ng-bind-html="bindHtml(detail.content)"></td>
				</tr>
			</tbody>
		</table>	
		
		<div class="layer-right" ng-if="user">
			<button type="button" class="btn btn-outline-danger" ng-click="delNotice()">삭제</button>
			<button type="button" class="btn btn-outline-success" ui-sref="noticeRegist()">수정</button>
			<button type="button" class="btn btn-outline-dark" ng-click="goList()">목록</button>
		</div>
		
	</div>
	

</div>


