<div class="container px-4 py-5">
	<h2 class="pb-2 border-bottom">지도 확인</h2>
	
	<div id="map" style="width:620px;height:600px;" class="layer-left"></div>
	
	<!-- <div class="btn-group-vertical zoomBtn" role="group">
		<button type="button" class="btn btn-outline-primary" ng-click="zoomOut();"><i class="fa-solid fa-plus-large">+</i></button>
		<button type="button" class="btn btn-outline-primary" ng-click="zoomIn();"><i class="fa-solid fa-minus"></i>-</button>
	</div> -->
	
	<div class="card" class="layer-right" style="height:600px;">
		<div class="card-body p-5">
			<h3 class="card-title">마커 위도 경도</h3>
			<h4 class="card-subtitle mb-2 text-muted">클릭한 마커의 위경도 및 주소 구하기</h4>
			<hr>
			<p id="coords"></p>
			<br>
			<p id="address"></p>
		</div>
	</div>
	
</div>
