<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="Map" type="java.util.Map" />
		<typeAlias alias="String" type="java.lang.String" />
		<typeAlias alias="Integer" type="java.lang.Integer" />
		<typeAlias alias="Boolean" type="java.lang.Boolean" />
	
		<typeAlias alias="BoardVO" type="com.project.firstProject.board.vo.BoardVO" />
		<typeAlias alias="LoginVO" type="com.project.firstProject.login.vo.LoginVO" />
		<typeAlias alias="MenuVO" type="com.project.firstProject.login.vo.MenuVO" />
		<typeAlias alias="NoticeVO" type="com.project.firstProject.notice.vo.NoticeVO" />
		<typeAlias alias="FaqVO" type="com.project.firstProject.faq.vo.FaqVO" />
		
		
	</typeAliases>
</configuration>