<div class="login">

	<div class="card p-2" style="width: 20rem;">
		<div class="card-body center">
			<h3 class="card-title mb-4">Please Sign in</h3>
			
			<div class="card-text">
				<form novalidate ng-submit="login(loginData)">
					<div class="form-floating">
						<input type="text" class="form-control" id="floatingInput" placeholder="UserId" ng-model="loginData.userId" required>
						<label for="floatingInput">User Id</label>
					</div>
					<div class="form-floating">
						<input type="password" class="form-control" id="floatingPassword" placeholder="Password" ng-model="loginData.passwd" required>
						<label for="floatingPassword">Password</label>
					</div>
					<button type="submit" class="btn btn-lg btn-primary w-100 mb-2">Login</button>
					<a class="text-muted" ui-sref="signup">Sign Up</a>
					<p class="mt-4 mb-3 text-muted">&copy; 2017–2022</p>
				</form>
			</div>
			
		</div>
	</div>
 
</div>
