<div class="login">

	<div class="card p-2" style="width: 40rem;">
		<div class="card-body center">
			<h3 class="card-title mb-4">Sign Up</h3><hr class="mb-4">
			
			<div class="card-text right signup">

				<form>
					<div class="row mb-3">
						<label for="userid" class="col-sm-3 col-form-label">UserId</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="userid" ng-model="signUpData.userId" ng-blur="idCheck();">
							<div class="none" id="userid_etc" style="color: red;">
								중복된 ID입니다.
							</div>
						</div>
					</div>
					<div class="row mb-3">
						<label for="password" class="col-sm-3 col-form-label">Password</label>
						<div class="col-sm-9">
							<input type="password" class="form-control mb-0" id="password" ng-model="signUpData.passwd" ng-blur="signChk('password');">
						</div>
					</div>
					<div class="row mb-3">
						<label for="passwordChk" class="col-sm-3 col-form-label">Passwd Check</label>
						<div class="col-sm-9">
							<input type="password" class="form-control mb-0" id="passwordChk" ng-model="signUpData.passwdChk" ng-blur="signChk('passwordChk');">
							<div class="none" id="pass_chk" style="color: red;">
								패스워드를 다시 확인해주세요.
							</div>
						</div>
					</div>
					<div class="row mb-3">
						<label for="userNm" class="col-sm-3 col-form-label">UserName</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="userNm" ng-model="signUpData.userNm" ng-blur="signChk('userNm');">
						</div>
					</div>
					<div class="row mb-3">
						<label for="email" class="col-sm-3 col-form-label">Email</label>
						<div class="col-sm-9">
							<input type="email" class="form-control" id="email" ng-model="signUpData.email" ng-blur="signChk('email');">
						</div>
					</div>
					<div class="row mb-3">
						<label for="addr" class="col-sm-3 col-form-label">Address</label>
						<div class="col-sm-9">
							<div class="input-group mb-3">
								<input type="text" class="form-control" id="addr" ng-model="signUpData.addr" ng-blur="signChk('addr');">
								<button class="btn btn-outline-secondary" style="width:100px;" type="button" ng-click="postCode();">Search</button>
							</div>
						</div>
					</div>
					
					<div>
						<button type="submit" class="btn btn-lg btn-secondary mb-2 mt-3 layer-left signupbtn" ui-sref="board">Back</button>
						<button type="submit" class="btn btn-lg btn-primary mb-2 mt-3 layer-right signupbtn" ng-click="signUp();">Sign Up</button>
					</div>
				</form>

			</div>
			
		</div>
	</div>
 
</div>
