<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.firstProject.login.mapper.LoginMapper">

	<select id="login" parameterType="LoginVO" resultType="Map">
		SELECT
			user_seq as seq,
			user_id as userId,
			passwd as passwd,
			user_name as userName,
			email as email,
			cret_dt as cretDt,
			theme as theme,
			lang as lang,
			login_fail as loginFailCnt
		FROM user_table
		WHERE use_yn = 'Y'
		AND del_yn = 'N'
		AND user_id = #{userId}
	</select> 

	<update id="loginFail" parameterType="String">
		UPDATE user_table
		SET
			login_fail = login_fail + 1
		WHERE 1=1
			AND user_id = #{userId}
			AND use_yn = 'Y'
			AND del_yn = 'N'
	</update>
	
	<update id="loginReset" parameterType="String">
		UPDATE user_table
		SET
			login_fail = 0
		WHERE 1=1
			AND user_id = #{userId}
			AND use_yn = 'Y'
			AND del_yn = 'N'
	</update>
	
	<select id="getMenuList" parameterType="Map" resultType="MenuVO">
		SELECT
			menu_seq as menuSeq,
			menu_id as menuId,
			menu_name as menuName
		FROM menu_table
		WHERE use_yn = 'Y'
		AND del_yn = 'N'
		ORDER BY menu_seq
	</select>
	
	<select id="getUser" parameterType="LoginVO" resultType="Map">
		SELECT
			user_seq as seq,
			user_id as userId,
			user_name as userName,
			email as email,
			address as addr,
			to_char(cret_dt, 'YYYY-MM-DD HH24:mi') as cretDt,
			coalesce(to_char(modify_dt, 'YYYY-MM-DD HH24:mi'), '-') as modiDt,
			theme as theme,
			lang as lang,
			login_fail as loginFailCnt,
			user_img as userImg
		FROM user_table
		WHERE use_yn = 'Y'
		AND del_yn = 'N'
		AND user_id = #{userId}
	</select> 
	
	<update id="updateUser" parameterType="Map">
		UPDATE user_table
		SET
			user_name = #{username},
			email = #{email},
			address = #{addr},
			modify_dt = now()
		WHERE 1=1
			AND user_id = #{userid}
			AND use_yn = 'Y'
			AND del_yn = 'N'
	</update> 
	
	<update id="changePasswd" parameterType="Map">
		UPDATE user_table
		SET
			passwd = #{newPasswd},
			modify_dt = now()
		WHERE 1=1
			AND user_id = #{userid}
			AND use_yn = 'Y'
			AND del_yn = 'N'
	</update> 
	
	<update id="deleteChk" parameterType="Map">
		UPDATE user_table
		SET
			use_yn = 'N',
			del_yn = 'Y',
			modify_dt = now()
		WHERE 1=1
			AND user_id = #{userid}
			AND use_yn = 'Y'
			AND del_yn = 'N'
	</update> 	
	
	<insert id="setSignUp" parameterType="Map">
		INSERT INTO user_table 
			(user_id, passwd, user_name, email, address, cret_dt) 
		VALUES
			(#{userId}, #{password}, #{userNm}, #{email}, #{addr}, now());
	</insert>
	
</mapper>