<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.firstProject.board.mapper.BoardMapper">

	<select id="getBoard" parameterType="Map" resultType="Map">
		SELECT
			seq as seq,
			title as title,
			name as name,
			date as date
		FROM board
		WHERE seq = #{seq}::int
		ORDER BY title DESC
	</select> 

</mapper>