<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.firstProject.notice.mapper.NoticeMapper">

	<select id="getNoticeCnt" parameterType="NoticeVO" resultType="int">
		SELECT
			count(*)
		FROM notice_table 
		WHERE 1=1
		<if test="option == 'title'">
			AND title like CONCAT('%', #{keyword}, '%')
		</if>
		<if test="option == 'content'">
			AND content like CONCAT('%', #{keyword}, '%')
		</if>
		<if test="option == 'user'">
			AND cret_id like CONCAT('%', #{keyword}, '%')
		</if>
	</select> 
	
	<select id="getNoticeList" parameterType="NoticeVO" resultType="NoticeVO">
		SELECT
			notice_seq as notiSeq,
			title as title,
			content as content,
			to_char(cret_dt,'YYYY-MM-DD') as creatDt,
			cret_id as creatId,
			to_char(modify_dt,'YYYY-MM-DD') as ModiDt,
			modify_id as ModiId
		FROM notice_table
		WHERE 1=1
		<if test="option == 'title'">
			AND title like CONCAT('%', #{keyword}, '%')
		</if>
		<if test="option == 'content'">
			AND content like CONCAT('%', #{keyword}, '%')
		</if>
		<if test="option == 'user'">
			AND cret_id like CONCAT('%', #{keyword}, '%')
		</if>
		ORDER BY notice_seq DESC
		LIMIT #{limit}
		OFFSET #{offset} 
	</select> 

	<select id="getNoticeDetail" parameterType="NoticeVO" resultType="NoticeVO">
		SELECT
			notice_seq as notiSeq,
			title as title,
			content as content,
			to_char(cret_dt,'YYYY-MM-DD') as creatDt,
			cret_id as creatId,
			to_char(modify_dt,'YYYY-MM-DD') as ModiDt,
			modify_id as ModiId
		FROM notice_table
		WHERE 1=1
		AND notice_seq = #{notiSeq}
	</select>
	
	<select id="noticeInsert" parameterType="NoticeVO" resultType="int">
		INSERT INTO notice_table
			(title, content, cret_dt, cret_id) 
		VALUES
			(#{title}, #{content}, now(), #{creatId})
		RETURNING notice_seq
	</select>
	
	<select id="noticeUpdate" parameterType="NoticeVO" resultType="int">
		UPDATE notice_table SET
			title = #{title},
			content = #{content},
			modify_dt = now(),
			cret_id = #{modiId}
		WHERE notice_seq = #{notiSeq}
		RETURNING notice_seq
	</select>

</mapper>
