/* header */
header {position: fixed; top:0; left:0; right:0; background-color:#2C2A29de; color: white; }

main {padding-top:75px;}

/* common */
.center {text-align: center;}

/* login */
.login {display: flex; height: 100vh; justify-content: center; align-items: center; background-image:url("../images/background.jpg");}
.card-body a {text-decoration:none;}
.card-body a:hover {color : black; text-decoration:underline; cursor:pointer;}

input[type="email"] {margin-bottom: -1px; border-bottom-right-radius: 0; border-bottom-left-radius: 0;}
input[type="password"] {margin-bottom: 15px; border-top-left-radius: 0; border-top-right-radius: 0;}