<div class="container px-4 py-5">
	<h2 class="pb-2 border-bottom">사용자 관리</h2>
	
	<div class="text-center mt-3 mb-3">
		<label for="userImage"><img class="user-default" id="test"></label>
		<input class="none" type="file" accept="image/*" id="userImage">
	</div>

	<form>
		<div class="row mb-3">
			<label for="userId" class="col-sm-2 col-form-label">사용자 아이디</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="userId" ng-model="userdata.userid" disabled>
			</div>
		</div>
		<div class="row mb-3">
			<label for="userName" class="col-sm-2 col-form-label">사용자 이름</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="userName" ng-model="userdata.username" ng-disabled="regAble">
			</div>
		</div>
		<div class="row mb-3">
			<label for="email" class="col-sm-2 col-form-label">사용자 이메일</label>
			<div class="col-sm-10">
				<input type="email" class="form-control" id="email" ng-model="userdata.email" ng-disabled="regAble" required>
			</div>
		</div>
		<div class="row mb-3">
			<label for="etc" class="col-sm-2 col-form-label">비고</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="etc" ng-model="userdata.etc" ng-disabled="regAble">
			</div>
		</div>
		<div class="row mb-3">
			<label for="createDt" class="col-sm-2 col-form-label">등록일자</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="createDt" ng-model="userdata.cretdt" disabled>
			</div>
		</div>
		<div class="row mb-3">
			<label for="createDt" class="col-sm-2 col-form-label">수정일자</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="" ng-model="userdata.modidt" disabled>
			</div>
		</div>
		
		<div class="layer-right" ng-hide="regAble">
			<button type="button" class="btn btn-outline-secondary" ng-click="user(); regAble=true;">취소</button>
			<button type="button" class="btn btn-success" ng-click="regist();">수정</button>
		</div>
		
		<div class="layer-right" ng-hide="!regAble">
			<button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#passwdChkModal">비밀번호 변경</button>
			<button type="button" class="btn btn-success" ng-click="regAble=false;">계정 수정</button>
		</div>
	</form>

</div>


<!-- Modal -->
<div class="modal fade" id="passwdChkModal">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">패스워드 변경</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form>
					<div class="mb-3">
						<label for="passwd" class="col-form-label">변경 전 패스워드:</label>
						<input type="password" class="form-control" id="passwd" ng-model="passwd">
					</div>
					<div class="mb-3">
						<label for="newPasswd" class="col-form-label">변경할 패스워드:</label>
						<input type="password" class="form-control" id="newPasswd" ng-model="newPasswd">
					</div>
					<div class="mb-3">
						<label for="newPasswd2" class="col-form-label">변경 패스워드 확인:</label>
						<input type="password" class="form-control" id="newPasswd2" ng-model="newPasswdChk">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">닫기</button>
				<button type="button" class="btn btn-outline-danger" ng-click="changePw();">패스워드 변경</button>
			</div>
		</div>
	</div>
</div>


