<header class="p-3">
	<div class="container">
		<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<img src="assets/images/icon.png" alt="favicon">
			
			<!-- <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
				<li><a href="#" class="nav-link px-2 text-white">Home</a></li>
				<li><a href="#" class="nav-link px-2 text-white">Features</a></li>
				<li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
				<li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
				<li><a href="#" class="nav-link px-2 text-white">About</a></li>
			</ul> -->
			
			<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
				<li ng-repeat="menu in menulist">
					<a class="nav-link px-2 text-white" ui-sref="{{menu.menuId == 'main' ? 'board' : menu.menuId}}">{{menu.menuName}}</a>
				</li>
			</ul>
			
			<form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
				<input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
			</form>
			
			<div class="text-end" ng-if="!loginSession">
				<button type="button" class="btn btn-outline-light me-2" ui-sref="login">Login</button>
				<button type="button" class="btn btn-warning" ui-sref="signup">Sign-up</button>
			</div>
			
			<div class="text-end" ng-if="loginSession">
				<button type="button" class="btn btn-warning" ng-click="logout();">Logout</button>
			</div>
		</div>
	</div>
</header>